*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: #414141;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: #009688;
    font-weight:lighter;
    position: absolute;
    top:22%;
    left:50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.banner p{
    color:white;
    font-weight: normal;
    position: absolute;
    top: 30%;
    left:50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.backgroundnavbar{
    background-color: rgb(177, 174, 174);
    background-origin: content-box;
}
.logo{
    width: 7%;
    max-width:750px;
    min-width:100px;
}
.notificacion{
    width: 2%;
    max-width:70px;
    min-width:40px;
    position: relative;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

table{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

table.datanames{
    background-color: #009688;
    width: 50%;
    border-radius: 15px;
}

table.data1 {
    width: 50%;
    top: 5rem;
    border: 2px solid #009688;
    border-radius: 15px;
}

table.data2 {
    width: 50%;
    top: 10rem;
    border: 2px solid #009688;
    border-radius: 15px;
}

table.data3 {
    width: 50%;
    top: 15rem;
    border: 2px solid #009688;
    border-radius: 15px;
}

table td{
    padding: 1rem;
    padding-bottom: 1rem;
}

.divpayinfo .names {
    color: white;
    text-align:center;
    font-size: 1.5rem;
    font-weight: bold;
}

.divpayinfo .data {
    color: #92e1d9;
    text-align:center;
    font-size: 1.5rem;
}


.cancel:hover span{
    width: 100%;
}
.cancel:hover{
    border: none;
}

.next{
    left: 50%;
    transform: translateX(-50%);
    width: 8%;
    padding: 15px 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top:20rem;
    overflow: hidden;
}
.next span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.delete1{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:85px;
    position:relative;
    left: 34.75%;
}

.delete2{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:170px;
    position:relative;
    left: 32%;
}

.delete3{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:260px;
    left: 29.25%;
    position:relative;
}

.edit1{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:80px;
    position:relative;
    left: 30.75%;
}

.edit2{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:165px;
    position:relative;
    left: 28%;
}

.edit3{
    width: 2.5%;
    max-width:70px;
    min-width:30px;
    top:255px;
    left: 25.25%;
    position:relative;
}

.input1 input{
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    height: 40px;
    left: 40%;
    right: 40%;
    top: -2.5rem;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.input2 input{
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    height: 40px;
    left: 40%;
    right: 40%;
    top: 2.5rem;
    
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}


.input3 input{
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    height: 40px;
    left: 40%;
    right: 40%;
    top: 7.5rem;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}

.input4 input{
    box-sizing: border-box;
    font-size: 18px;
    position: absolute;
    height: 40px;
    left: 40%;
    right: 40%;
    top: 12.5rem;

    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 5px;
}


.next:hover span{
    width: 100%;
}
.next:hover{
    border: none;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow:auto;
    box-shadow: 0px 10px 10px 0px #000000;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: #fff;
  }
  .dropdown-content a:hover {
    color: #F9C258;
    background-color: #00A4BD;
  }