*{
    margin: 0;
    padding: 0;
    background: #F8F8F8;
}
img{
    position: absolute;
    width: 141px;
    height: 175.24px;
    left: calc(50% - 141px/2);
    top: calc(50% - 175.24px/2 - 272.38px);
}
#iniciosesion{
    width: 217px;
    height: 28px;
    display: flex;
    justify-content: center;
}
#iniciosesion h1{
    position: absolute;
    width: 186px;
    height: 16px;
    left: calc(50% - 186px/2 + 0.5px);
    top: calc(50% - 16px/2 - 120px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 16px;

    text-align: justify;

    color: #F9C258;
}
#iniciosesion hr{
    position: absolute;
    width: 217px;
    height: 0px;
    left: calc(50% - 217px/2 + 0px);
    top: calc(50% - 0px/2 - 100px);

    border: 1px solid #000000;
    transform: rotate(-0.27deg);
}
#correo{
    width: 267px;
    height: 60px;
    display: flex;
    justify-content: center;

}
#correo h2{
    position: absolute;
    height: 16px;
    left: 40%;
    top: calc(50% - 16px/2 - 28px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */

    text-align: justify;

    color: #000000;
}
#correo input{
    border-radius: 25px;
    box-sizing: border-box;

    position: absolute;
    height: 27px;
    left: 40%;
    right: 40%;
    top: calc(50% - 27px/2 + 10.5px);
    background: #FFFFFF;
}
#contra{
    width: 267px;
    height: 60px;
    display: flex;
    justify-content: center;

}
#contra h2{
    position: absolute;
    height: 16px;
    left: 40%;
    top: calc(50% - 16px/2 + 72px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 16px;
    /* identical to box height, or 67% */

    text-align: justify;

    color: #000000;
}
#contra input{
    border-radius: 25px;
    box-sizing: border-box;

    position: absolute;
    height: 27px;
    left: 40%;
    right: 40%;
    top: calc(50% - 27px/2 + 110.5px);
    background: #FFFFFF;
}
#boton{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    gap: 4px;
    
    position: absolute;
    width: 113px;
    height: 36px;
    left: calc(50% - 130px/2);
    top: calc(50% - 36px/2 + 217px);
    
    /* Grey / 800 */
    
    background: #212121;
    border-radius: 4px;
}
#boton h3{
    width: 80px;
    height: 16px;
    /* Button */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */

    letter-spacing: 3.5px;
    text-transform: uppercase;

    /* White */

    color: #FFFFFF;
    background-color: #212121;
    border: 0;
    
}
#aaaa{
    position: absolute;
    width: 307px;
    height: 27px;
    left: calc(50% - 270px/2);
    bottom: 54px;
}
#aaaa h3{
    position: absolute;
    height: 24px;
    left: 16px;
    right: 16px;
    top: 1px;

    font-family: 'ABeeZee';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: justify;
    letter-spacing: 0.374px;

    /* Grey / 600 */

    color: #757575;
}
#incorrecto{
    position: absolute;
    height: 10px;
    left: 36%;
    top: calc(61% - 16px/2 + 72px);

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    /* identical to box height, or 67% */

    text-align: justify;

    color: #ff0000;
}