*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: #414141;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: #009688;
    font-weight:lighter;
    position: absolute;
    top:25%;
    left:50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.backgroundnavbar{
    background-color: rgb(177, 174, 174);
    background-origin: content-box;
}
.logo{
    width: 7%;
    max-width:750px;
    min-width:100px;
}
.notificacion{
    width: 2%;
    max-width:70px;
    min-width:40px;
    position: relative;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.switch{
    position: absolute;
    top: 6rem;
    left: 49%;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}
.switch:active{
    color: #009688;
    transform: rotate(180deg);
}

.form{
    position: relative;
}
.form .input1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height:10%;
    border: 2px solid white;
    border-radius: 0.5rem;
    outline: none;
    padding: 1.5rem;
    background: none;
    color:white;
    font-size: 1.2rem ;
}
.form .input1:hover{
    border-color: #92e1d9;
}
.form .input1:focus{
    border-color: #009688;
}
.form .label1{
    position: relative;
    left:0%;
    top:-0.5rem;
    padding: 0 0.5rem;
    color:white;
    cursor:text;
    background-color: #414141;
    font-size: 1.2rem;
}

select:focus{
    outline: none !important;
}

.select {
    position: absolute;
    top:6rem;
    left: 50%;
    transform: translateX(-150%);
}
.select #moneda_e {
    appearance: none;
    box-shadow: none;
    border: 2px solid white !important;
    background: #414141;
    color: white;
    width: 15rem;
    border-radius: 0.5rem;
    line-height: 2.5rem;
    cursor: pointer;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}
.select:hover{
    color: #92e1d9;
}
.select #moneda_e:hover {
    border: 2px solid #92e1d9 !important;
}

.select #moneda_e:focus {
    border: 2px solid #009688 !important;
}
.select::after{
    content: '\25BC';
    cursor: pointer;
    position: relative;
    left: -2rem;
}

.select2 {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translateX(50%);
}
.select2 #moneda_r {
    appearance: none;
    box-shadow: none;
    border: 2px solid white !important;
    background: #414141;
    color: white;
    border-radius: 0.5rem;
    width: 15rem;
    line-height: 2.5rem;
    cursor: pointer;
    padding-left: 0.5rem;
    font-size: 1.2rem;
}
.select2:hover{
    color: #92e1d9;
}
.select2 #moneda_r:hover {
    border: 2px solid #92e1d9 !important;
}
.select2 #moneda_r:focus {
    border: 2px solid #009688 !important;
}
.select2::after{
    content: '\25BC';
    cursor: pointer;
    position: relative;
    left: -2rem
}

.form2{
    position: relative;
}
.form2 .input2{
    position: absolute;
    top:12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height:10%;
    border: 2px solid white;
    border-radius: 0.5rem;
    outline: none;
    padding: 1.5rem;
    background: none;
    color:white;
    font-size: 1.2rem ;
}
.form2 .input2:hover{
    border-color: #92e1d9;
}
.form2 .input2:focus{
    border-color: #009688;
}
.form2 .label2{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:11.2rem;
    padding: 0 0.5rem;
    color:white;
    cursor:text;
    background-color: #414141;
    font-size: 1.2rem;
}
.form2 .input3{
    position: absolute;
    top:19rem;
    left: 50%;
    transform: translateX(-50%);
    width: 18%;
    height:10%;
    border: 2px solid white;
    border-radius: 0.5rem;
    outline: none;
    padding: 1.5rem;
    background: none;
    color:white;
    font-size: 1.2rem ;
}
.form2 .input3:hover{
    border-color: #92e1d9;
}
.form2 .input3:focus{
    border-color: #009688;
}
.form2 .label3{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:18.2rem;
    padding: 0 0.5rem;
    color:white;
    cursor:text;
    background-color: #414141;
    font-size: 1.2rem;
}
.cuponaplicar{
    width: 5%;
    padding: 13px 0;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #d4132a;
    background: #d4132a;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top:20.5rem;
    left: 61%;
}
.cuponaplicar:active{
    background: #980a1b;
    border-color: #980a1b;
}

button{
    width: 15%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:25rem;
    overflow: hidden;
}
span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow:auto;
    box-shadow: 0px 10px 10px 0px #000000;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: #fff;
  }
  .dropdown-content a:hover {
    color: #F9C258;
    background-color: #00A4BD;
  }