*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-color: #414141;
    background-size: cover;
    background-position: center;
}
.banner h1{
    color: #009688;
    font-weight:lighter;
    position: absolute;
    top:22%;
    left:50%;
    transform: translateX(-50%);
    font-size: 3rem;
}
.banner p{
    color:white;
    font-weight: normal;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5em;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.backgroundnavbar{
    background-color: rgb(177, 174, 174);
    background-origin: content-box;
}
.logo{
    width: 7%;
    max-width:750px;
    min-width:100px;
}
.notificacion{
    width: 2%;
    max-width:70px;
    min-width:40px;
    position: relative;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
.navbar ul li::after{
    content:'';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top:40%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.form{
    position: relative;
}
.form .input1{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height:10%;
    border: 2px solid white;
    border-radius: 0.5rem;
    outline: none;
    padding: 1.5rem;
    background: none;
    color:white;
    font-size: 1.2rem ;
}
.form .input1:hover{
    border-color: #92e1d9;
}
.form .input1:focus{
    border-color: #009688;
}
.form .label1{
    position: absolute;
    top:4.5rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 0.5rem;
    color:white;
    cursor:text;
    background-color: #414141;
    font-size: 1.2rem;
}
.form #eye{
    position: relative;
    color: white;
    top: 6rem;
    cursor: pointer;
    left: 15%;
}
.form #eye:active{
    color: #009688;
}

.next{
    width: 20%;
    padding: 15px 15px;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:10rem;
    overflow: hidden;
}
.next span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.next:hover span{
    width: 100%;
}
.next:hover{
    border: none;
}
.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow:auto;
    box-shadow: 0px 10px 10px 0px #000000;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
    background-color: #fff;
  }
  .dropdown-content a:hover {
    color: #F9C258;
    background-color: #00A4BD;
  }